django
djangorestframework
django-cors-headers
psycopg2
django-cloudinary-storage
Pillow
django-rest-swagger
pyyaml
uritemplate
pymemcache
opencv-python
numpy
gunicorn
whitenoise

ffmpeg
libsm6
libxext6
libgl1